@model IEnumerable<shanuMVCUserRoles.tblKategorijaNamestaja>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Kategorija namestaja</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@



@if (User.IsInRole("Admin"))
{
    <table class="table table-striped table-hover" id="tblKategorijaNamestaja">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KategroijaNamestajaId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KategroijaNamestajaId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KategroijaNamestajaId })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalKategorijaNamestaja">Dodaj kategoriju namestaja</button>

    @*otvaranje modala*@
    <div class="modal fade" id="modalKategorijaNamestaja" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dodaj novu kategoriju namestaja</h4>
                </div>
                <form id="addFormKategorijaNamestaja">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="naziv">Naziv:</label>
                            <input type="text" class="form-control" id="naziv" name="naziv">
                        </div>
                        <div class="form-group">
                            <label for="opis">Opis:</label>
                            <input type="text" class="form-control" id="opis" name="opis">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="dodajKategorijuNamestaja">Dodaj kategoriju</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("User"))
{
    <table class="table table-striped table-hover" id="tblKategorijaNamestaja">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.Raw(TempData["msgKategorijaNamestaja"])